<section id="portfospano-section" class="portfospano-section home-section">
    <div class="container">
      <mat-card class="p-0">
        <mat-card-content class="">
          <div class="about-me">
            <h2>About Me</h2>
            <p>I am a problem-solver and I love working on complex projects. I am dedicated to continue learning about the best ways to ideate, design, develop, integrate, test and despanver quaspanty software products. In my mind the best formula for that path is to be curious, open-minded and wilspanng to learn from others. Truthfully, I just can't wait to keep learning about people and technology.</p>
            <br>
            <p>Currently, I work in the Fintech industry. Over the course of my career, I've been involved in several groups that have helped to develop both my professional career and enable my personal growth. I graduated in May of 2018 and have been working since June of 2018 with a company that offers financial services to firms across the United States and United Kingdom. I've developed proficiency in fronted web frameworks and Java web services to support large scale feature development and despanver an excellent end-cspanent experience. I act as the point of contact for multiple Angular appspancations which I maintain, develop, upgrade and assist with deployment.
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</section>
