<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> lukepinto96@gmail.com </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">phone</mat-icon>
                <p matLine>610-955-7531</p>
              </mat-list-item>
          </mat-list>
        </div>
    </div>
  </section>
</footer>
