.mat-card {
  .mat-card-content {
    position: relative;
    padding: 2rem;
    min-height: 200px; // Adjust height as your need
  }

  .text {
    position: relative;
    font-size: 1rem;
    color: rgba(0,0,0, .64);
    margin: 0;
  }

  margin: 30px;
  
}
